*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
}

body.menu-opened{
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    border: none;
    background: none;
}

svg.icon{
    fill: #000;
    width: 64px;
    height: 64px;
}

img{
    max-width: 100%;
}