.animated-numbers .container {
    text-align: center;
}
.numbers {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    font-size: 2rem;
    color: #f00;
    font-weight: bold;
}
