.rating-stars .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-stars h2{
    margin-bottom: 15px;
}

.stars svg.icon{
    stroke: #000;
    fill: none;
    cursor: pointer;
}

.stars svg.filled{
    stroke: #000;
    fill: yellow;
}
